Repository Kris-Young-Kim/atcms, changes with the owners that .github/CODEOWNERS names for each.
All owners: @팀장, @센터장, @보조공학사1, @보조공학사2, @github-username-dev1, @github-username-lead, @새로운역할, @새로운담당자, @담당자

.github/CODEOWNERS:

# CODEOWNERS

**프로젝트 코드**: ATCMP-2026  
**작성일**: 2025-11-01  
**버전**: 1.0

---

## 📋 개요

CODEOWNERS 파일은 파일/디렉토리별로 리뷰어를 자동으로 할당하는 GitHub 기능입니다.  
이 파일을 통해 PR 생성 시 자동으로 적절한 리뷰어가 할당됩니다.

**GitHub 공식 문서**: [CODEOWNERS 파일 정보](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)

---

## 역할별 GitHub 사용자명

**참고**: 실제 GitHub 사용자명으로 업데이트 필요

- `@센터장` - 센터장 (PM)
- `@팀장` - 팀장 (Dev Lead)
- `@작업치료사` - 작업치료사 (Specialist)
- `@보조공학사1` - 보조공학사 1 (Developer 1 - Frontend)
- `@보조공학사2` - 보조공학사 2 (Developer 2 - Backend)
- `@사회복지사` - 사회복지사 (SocialWorker)

---

## 파일/디렉토리별 리뷰어 지정

### 프로젝트 루트 (전체)

```
# 프로젝트 전체 기본 리뷰어
* @팀장 @센터장
```

### 문서 (docs/)

```
# 문서 관련
/docs/ @팀장 @센터장
```

### 프론트엔드 (web/)

```
# 프론트엔드 전체
/web/ @팀장 @보조공학사1

# 프론트엔드 UI 컴포넌트
/web/src/components/ @보조공학사1 @팀장

# 프론트엔드 API Routes
/web/src/app/api/ @보조공학사2 @팀장

# 프론트엔드 설정 파일
/web/*.config.* @팀장
/web/package.json @팀장
```

### 백엔드/Database

```
# 마이그레이션 및 데이터베이스 스키마
/supabase/ @보조공학사2 @팀장
/migrations/ @보조공학사2 @팀장

# API Routes
/web/src/app/api/ @보조공학사2 @팀장
```

### 보안 관련

```
# 보안 설정 및 미들웨어
/web/src/middleware.ts @팀장 @센터장
/web/src/lib/auth/ @팀장 @센터장
/docs/security-checklist.md @팀장 @센터장
```

### 프로젝트 관리

```
# 프로젝트 관리 문서
/PROJECT_MANAGEMENT_SYSTEM.md @센터장 @팀장
/TODO.md @센터장 @팀장
/CONTRIBUTING.md @팀장
```

### CI/CD

```
# GitHub Actions 워크플로우
/.github/workflows/ @팀장 @보조공학사2
```

### 설정 파일

```
# 의존성 관리
/package.json @팀장
/web/package.json @팀장
/pnpm-workspace.yaml @팀장

# 환경 설정
/.env* @팀장 @센터장
/web/.env* @팀장 @센터장
```

---

## 사용 예시

### 예시 1: 프론트엔드 컴포넌트 변경

**파일**: `web/src/components/clients/ClientForm.tsx`

**자동 할당 리뷰어**: `@보조공학사1`, `@팀장`

### 예시 2: API Route 변경

**파일**: `web/src/app/api/clients/route.ts`

**자동 할당 리뷰어**: `@보조공학사2`, `@팀장`

### 예시 3: 보안 관련 변경

**파일**: `web/src/middleware.ts`

**자동 할당 리뷰어**: `@팀장`, `@센터장`

### 예시 4: 문서 변경

**파일**: `docs/coding-standards.md`

**자동 할당 리뷰어**: `@팀장`, `@센터장`

---

## 백업 리뷰어 설정

파일 경로에 여러 사용자를 지정하면 순서대로 리뷰 요청됩니다:

```
# 주요 리뷰어: 보조공학사1, 백업 리뷰어: 팀장
/web/src/components/ @보조공학사1 @팀장
```

**동작 방식**:
- 첫 번째 사용자(`@보조공학사1`)가 리뷰를 할 수 없는 경우
- 두 번째 사용자(`@팀장`)가 자동으로 리뷰 요청받음

---

## 특수 규칙

### 모든 파일에 적용

```
# 모든 파일에 기본 리뷰어 할당
* @팀장
```

### 제외 규칙

```
# 특정 파일/디렉토리 제외
# (CODEOWNERS 파일은 제외 규칙을 직접 지원하지 않지만,
#  더 구체적인 경로 규칙으로 우선순위 지정 가능)

# 예: .gitignore는 모든 리뷰어
/.gitignore @팀장 @보조공학사1 @보조공학사2
```

### 우선순위

CODEOWNERS 파일은 **위에서 아래로** 순서대로 매칭됩니다.  
더 구체적인 경로 규칙을 먼저 작성하고, 일반적인 규칙을 나중에 작성하세요.

**예시**:
```
# 구체적인 규칙 (먼저 작성)
/web/src/app/api/clients/ @보조공학사2 @팀장

# 일반적인 규칙 (나중에 작성)
/web/src/app/api/ @보조공학사2 @팀장
```

---

## 설정 방법

### 1. CODEOWNERS 파일 생성

`.github/CODEOWNERS` 파일을 생성하고 위의 규칙을 작성합니다.

### 2. GitHub 저장소 설정

1. GitHub 저장소 → Settings → Branches
2. Branch protection rules에서 보호할 브랜치 선택 (main, develop)
3. "Require review from Code Owners" 옵션 활성화

### 3. 리뷰어 자동 할당 활성화

1. GitHub 저장소 → Settings → Pull requests
2. "Pull request reviews" 섹션에서 자동 할당 설정 확인

---

## 주의사항

### 1. GitHub 사용자명 업데이트

현재 파일에는 역할 이름(`@팀장`, `@보조공학사1` 등)이 사용되었습니다.  
실제 GitHub 사용자명으로 업데이트해야 합니다.

**예시**:
```
# 변경 전
/web/ @보조공학사1 @팀장

# 변경 후 (실제 GitHub 사용자명 사용)
/web/ @github-username-dev1 @github-username-lead
```

### 2. 팀 구성 변경 시 업데이트

팀 구성이 변경되면 CODEOWNERS 파일도 함께 업데이트해야 합니다.

### 3. 빈 리뷰어 목록

리뷰어가 없는 경우 PR이 블로킹될 수 있습니다.  
항상 최소 1명 이상의 리뷰어를 지정하세요.

---

## 업데이트 방법

### 1. 역할 추가

새로운 역할이 추가되면 해당 섹션에 추가:

```
# 새로운 역할 추가
/web/src/new-feature/ @새로운역할 @팀장
```

### 2. 역할 변경

역할이 변경되면 해당 라인 수정:

```
# 변경 전
/web/src/components/ @보조공학사1 @팀장

# 변경 후
/web/src/components/ @새로운담당자 @팀장
```

### 3. 규칙 추가

새로운 파일/디렉토리 규칙 추가:

```
# 새로운 규칙 추가
/web/src/new-directory/ @담당자 @팀장
```

---

## 참고 자료

- [GitHub CODEOWNERS 문서](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners)
- [조직도](./organization-chart.md)
- [프로젝트 관리 시스템](../PROJECT_MANAGEMENT_SYSTEM.md)

---

**마지막 업데이트**: 2025-11-01  
**다음 검토일**: 2026-02-01

**참고**: 실제 GitHub 사용자명으로 업데이트 후 사용하세요.

docs(phase4): Phase 4.1 ?꾩닔 臾몄꽌 ?묒꽦 ?꾨즺
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/rollback.yml
  API_DOCS.md
  ARCHITECTURE.md
  DATABASE_SCHEMA.md
  DEPLOYMENT.md
  DEVELOPMENT.md
  README.md
  TODO.md
  docs/deployment-pipeline-setup.md
  docs/deployment-process.md
  docs/e2e-testing-strategy.md
  docs/phase4-1-review.md
  docs/testing-guide.md
  web/.gitignore
Owners: @팀장, @github-username-dev1, @github-username-lead

docs: Phase 4 臾몄꽌???꾨즺 - JSDoc 媛?대뱶, CHANGELOG, 由대━???명듃 ?쒗뵆由?異붽? 諛?肄붾뱶 二쇱꽍 媛쒖꽑
  CHANGELOG.md
  README.md
  TODO.md
  docs/jsdoc-guide.md
  docs/release-notes-template.md
  web/src/app/api/clients/route.ts
  web/src/app/api/rentals/route.ts
  web/src/components/auth/ProtectedRoute.tsx
  web/src/lib/logger/auditLogger.ts
  web/src/lib/utils/debounce.ts
  web/src/lib/utils/rental-contract.ts
  web/src/lib/utils/soap-template.ts
Owners: @팀장, @github-username-dev1, @github-username-lead, @새로운담당자

feat: Phase 5 蹂댁븞 諛??명봽???꾨즺 - 蹂댁븞 ?꾨왂, 諛깆뾽 ?쒖뒪?? 諛고룷 ?섍꼍 ?ㅼ젙
  .github/workflows/env-secrets-check.yml
  DEPLOYMENT.md
  README.md
  TODO.md
  docs/backup-strategy.md
  docs/cdn-strategy.md
  docs/domain-ssl-guide.md
  docs/encryption-strategy.md
  docs/env-secrets-policy.md
  docs/phase5-development-plan.md
  docs/security-audit-plan.md
  docs/vercel-deployment-guide.md
  docs/vercel-secrets-guide.md
  web/.gitignore
Owners: @팀장, @github-username-dev1, @github-username-lead

feat(phase7): 諛고룷 諛?紐⑤땲?곕쭅 ?쒖뒪??援ъ텞 ?꾨즺
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deployment-notification.yml
  .github/workflows/performance-tests.yml
  .github/workflows/post-deployment-verification.yml
  .github/workflows/pre-deployment-checks.yml
  README.md
  TODO.md
  docs/alert-configuration.md
  docs/error-monitoring-guide.md
  docs/error-rate-targets.md
  docs/monitoring-dashboard-guide.md
  docs/performance-monitoring-guide.md
  docs/performance-monitoring-integration.md
  docs/phase7-development-plan.md
  docs/pre-deployment-checklist-guide.md
  docs/production-deployment-approval-guide.md
  docs/response-time-monitoring-guide.md
  docs/response-time-targets.md
  docs/staging-environment-guide.md
  docs/uptime-monitoring-guide.md
  docs/uptime-sla.md
  scripts/pre-deployment-check.sh
  web/package.json
  web/sentry.client.config.ts
  web/src/app/api/health/route.ts
  web/src/app/providers.tsx
  web/src/lib/performance/api-performance.ts
  web/src/lib/performance/web-vitals.ts
Owners: @팀장, @github-username-dev1, @github-username-lead

feat: IDE ?ㅼ젙 媛쒖꽑 諛?Phase 8 臾몄꽌 異붽?
  .github/ISSUE_TEMPLATE/technical_debt.md
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  TODO.md
  docs/communication-guide.md
  docs/ide-setup-guide.md
  docs/meeting-guide.md
  docs/meeting-notes-template.md
  docs/phase8-development-plan.md
  docs/slack-channel-guide.md
  docs/sprint-review-template.md
  docs/standup-template.md
  docs/technical-meeting-template.md
  docs/weekly-planning-template.md
  web/src/app/page.tsx
  web/src/app/providers.tsx
  web/src/lib/logger/auditLogger.ts
  web/src/lib/performance/api-performance.ts
  web/src/lib/performance/web-vitals.ts
  web/src/lib/utils/rental-contract.ts
  web/tsconfig.json
Owners: @팀장, @github-username-dev1, @github-username-lead

feat: Phase 8.3 ?꾨줈?앺듃 愿由??꾧뎄 援ъ텞 ?꾨즺
  README.md
  TODO.md
  docs/daily-report-template.md
  docs/github-project-board-guide.md
  docs/notion-project-setup-guide.md
  docs/risk-log-template.md
  docs/weekly-report-template.md
Owners: @팀장

feat: Phase 9 ?꾨줈?앺듃 愿由??꾧뎄 援ъ텞 ?꾨즺
  .github/ISSUE_TEMPLATE/budget-change-request.md
  .github/ISSUE_TEMPLATE/change_request.md
  .github/ISSUE_TEMPLATE/risk-identification.md
  .github/ISSUE_TEMPLATE/technical-decision.md
  .github/workflows/weekly-metrics-report.yml
  TODO.md
  docs/adr-template.md
  docs/approval-process.md
  docs/budget-management-guide.md
  docs/budget-plan.md
  docs/change-request-process.md
  docs/cost-tracking-template.md
  docs/decision-making-process.md
  docs/developer-productivity-metrics.md
  docs/metrics-tracking-guide.md
  docs/phase9-development-plan.md
  docs/product-quality-metrics.md
  docs/risk-assessment-matrix.md
  docs/risk-management-guide.md
  docs/risk-mitigation-strategies.md
  docs/schedule-change-process.md
  docs/team-health-metrics.md
  docs/templates/quarterly-budget-review.md
  docs/templates/risk-report-template.md
  docs/templates/risk-review-template.md
  scripts/generate-metrics-report.js
Owners: @팀장

test: Jest ?뚯뒪???ㅼ젙 媛쒖꽑 諛?臾몄젣媛 ?덈뒗 ?뚯뒪???쇱떆 ?ㅽ궢
  web/jest.config.js
  web/jest.setup.js
  web/src/app/api/clients/[id]/__tests__/route.test.ts
  web/src/app/api/clients/__tests__/route.test.ts
  web/src/app/api/equipment/__tests__/route.test.ts
  web/src/app/api/rentals/__tests__/route.test.ts
  web/src/components/clients/__tests__/ClientForm.test.tsx
Owners: @github-username-dev1, @github-username-lead, @새로운담당자, @팀장

refactor: ???而댄룷?뚰듃 由ы뙥?곕쭅 諛??뺤씤 ?ㅼ씠?쇰줈洹??⑦꽩 ?곸슜
  TODO.md
  docs/erd-schedules.md
  docs/phase10-development-plan.md
  web/src/app/(dashboard)/clients/[id]/page.tsx
  web/src/app/(dashboard)/clients/page.tsx
  web/src/app/(dashboard)/customization-requests/[id]/page.tsx
  web/src/app/(dashboard)/equipment/[id]/page.tsx
  web/src/app/(dashboard)/equipment/page.tsx
  web/src/app/(dashboard)/schedules/[id]/page.tsx
  web/src/app/api/clients/route.ts
  web/src/app/api/schedules/__tests__/route.test.ts
  web/src/app/api/schedules/route.ts
  web/src/components/clients/AssessmentTimeline.tsx
  web/src/components/clients/ClientForm.tsx
  web/src/components/clients/ClientsFilter.tsx
  web/src/components/clients/ClientsTable.tsx
  web/src/components/clients/ConsultationTimeline.tsx
  web/src/components/clients/IntegratedActivityTimeline.tsx
  web/src/components/equipment/EquipmentForm.tsx
  web/src/components/equipment/EquipmentTable.tsx
  web/src/components/schedules/ScheduleForm.tsx
  web/src/components/ui/ConfirmDialog.tsx
  web/src/hooks/useClientsPageController.ts
  web/src/hooks/useEquipmentPageController.ts
  web/src/lib/validations/client.ts
  web/src/lib/validations/schedule.ts
  web/supabase/migrations/20251102_add_schedule_recurrence.sql
  web/supabase/migrations/20251102_create_client_activity_overview_view.sql
  web/supabase/tests/schedules_recurring.sql
Owners: @팀장, @github-username-dev1, @github-username-lead, @새로운담당자

feat: Wishket ?ㅽ???湲곕컲 UI/UX ?꾨㈃ 媛쒖꽑
  web/src/app/(dashboard)/clients/page.tsx
  web/src/app/(dashboard)/dashboard/page.tsx
  web/src/app/globals.css
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/src/components/clients/ClientsTable.tsx
  web/src/components/layout/AppLayout.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/ErrorBoundary.tsx
  web/src/components/ui/LoadingState.tsx
Owners: @github-username-dev1, @github-username-lead, @새로운담당자, @팀장

fix: Prettier ?щ㎎ ?ㅻ쪟 ?섏젙 諛?Vercel 鍮뚮뱶 ?섍꼍 husky ?ㅽ궢
  web/package.json
  web/src/app/(dashboard)/dashboard/page.tsx
  web/src/app/globals.css
  web/src/components/clients/ClientsTable.tsx
  web/src/components/layout/Header.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/ErrorBoundary.tsx
  web/src/components/ui/LoadingState.tsx
Owners: @github-username-dev1, @github-username-lead, @새로운담당자, @팀장

fix: CustomizationForm prop ????ㅻ쪟 ?섏젙
  web/src/app/(dashboard)/customization-requests/[id]/page.tsx
Owners: @github-username-dev1, @github-username-lead

fix: ScheduleForm prop ????ㅻ쪟 ?섏젙
  web/src/app/(dashboard)/schedules/[id]/page.tsx
Owners: @github-username-dev1, @github-username-lead

fix: 紐⑤뱺 /new ?섏씠吏???숈쟻 ?뚮뜑留??ㅼ젙 異붽? (Clerk ?몄쬆 ?꾩닔)
  web/src/app/(dashboard)/clients/[id]/assessments/new/page.tsx
  web/src/app/(dashboard)/clients/[id]/consultations/new/page.tsx
  web/src/app/(dashboard)/clients/new/page.tsx
  web/src/app/(dashboard)/customization-requests/new/page.tsx
  web/src/app/(dashboard)/equipment/new/page.tsx
  web/src/app/(dashboard)/rentals/new/page.tsx
  web/src/app/(dashboard)/schedules/new/page.tsx
Owners: @github-username-dev1, @github-username-lead

fix: Add dynamic rendering to calendar page to prevent Clerk auth errors
  web/src/app/(dashboard)/schedules/calendar/page.tsx
Owners: @github-username-dev1, @github-username-lead

fix: Add dynamic rendering to all pages to prevent Clerk auth errors during build
  web/src/app/(dashboard)/clients/[id]/assessments/[assessmentId]/edit/page.tsx
  web/src/app/(dashboard)/clients/[id]/consultations/[consultationId]/edit/page.tsx
  web/src/app/(dashboard)/clients/[id]/edit/page.tsx
  web/src/app/(dashboard)/clients/[id]/page.tsx
  web/src/app/(dashboard)/clients/page.tsx
  web/src/app/(dashboard)/customization-requests/[id]/edit/page.tsx
  web/src/app/(dashboard)/customization-requests/[id]/page.tsx
  web/src/app/(dashboard)/dashboard/page.tsx
  web/src/app/(dashboard)/equipment/[id]/edit/page.tsx
  web/src/app/(dashboard)/equipment/[id]/maintenance/new/page.tsx
  web/src/app/(dashboard)/equipment/[id]/page.tsx
  web/src/app/(dashboard)/equipment/[id]/quantity/page.tsx
  web/src/app/(dashboard)/equipment/page.tsx
  web/src/app/(dashboard)/rentals/[id]/return/page.tsx
  web/src/app/(dashboard)/rentals/page.tsx
  web/src/app/(dashboard)/schedules/[id]/edit/page.tsx
  web/src/app/(dashboard)/schedules/[id]/page.tsx
  web/src/app/(dashboard)/schedules/page.tsx
  web/src/app/(dashboard)/search/activities/page.tsx
Owners: @github-username-dev1, @github-username-lead

fix: Add dynamic rendering to notification settings page
  web/src/app/(dashboard)/settings/notifications/page.tsx
Owners: @github-username-dev1, @github-username-lead

fix: Add dynamic rendering to dashboard layout to prevent all Clerk auth errors
  web/src/app/(dashboard)/layout.tsx
Owners: @github-username-dev1, @github-username-lead

fix: Add dynamic rendering to root page
  web/src/app/page.tsx
Owners: @github-username-dev1, @github-username-lead

fix: Add dynamic rendering to root layout to prevent Clerk auth errors
  web/src/app/layout.tsx
Owners: @github-username-dev1, @github-username-lead

Fix project name in README
  README.md
Owners: @팀장

refactor: 肄붾뱶 ?덉쭏 媛쒖꽑 - ?ъ슜?섏? ?딅뒗 ?꾪룷???쒓굅 諛?React Hook ?섏〈??諛곗뿴 ?뺣━
  web/.npmrc
  web/src/app/(dashboard)/clients/[id]/assessments/[assessmentId]/edit/page.tsx
  web/src/app/(dashboard)/clients/[id]/consultations/[consultationId]/edit/page.tsx
  web/src/app/(dashboard)/clients/[id]/consultations/new/page.tsx
  web/src/app/(dashboard)/clients/[id]/edit/page.tsx
  web/src/app/(dashboard)/clients/page.tsx
  web/src/app/(dashboard)/customization-requests/[id]/edit/page.tsx
  web/src/app/(dashboard)/equipment/[id]/edit/page.tsx
  web/src/app/(dashboard)/equipment/[id]/quantity/page.tsx
  web/src/app/(dashboard)/rentals/[id]/return/page.tsx
  web/src/app/(dashboard)/rentals/page.tsx
  web/src/app/(dashboard)/schedules/[id]/edit/page.tsx
  web/src/app/api/clients/[id]/assessments/route.ts
  web/src/app/api/clients/[id]/consultations/route.ts
  web/src/app/api/customization-requests/[id]/route.ts
  web/src/app/api/equipment/[id]/route.ts
  web/src/app/api/equipment/[id]/status/route.ts
  web/src/app/api/equipment/route.ts
  web/src/app/api/rentals/[id]/route.ts
  web/src/app/api/schedules/assessment/route.ts
  web/src/app/api/schedules/customization/route.ts
  web/src/app/api/schedules/rental/route.ts
  web/src/app/api/storage/upload/route.ts
  web/src/app/page.tsx
  web/src/components/clients/AssessmentForm.tsx
  web/src/components/clients/ClientDashboardWidgets.tsx
  web/src/components/clients/ConsultationForm.tsx
  web/src/components/clients/IntegratedActivityTimeline.tsx
  web/src/components/customization/CustomizationsFilter.tsx
  web/src/components/equipment/MaintenanceNoteForm.tsx
  web/src/components/equipment/MaintenanceNotesTimeline.tsx
  web/src/components/rentals/RentalForm.tsx
  web/src/components/rentals/RentalsTable.tsx
  web/src/components/schedules/MonthCalendarView.tsx
  web/src/components/schedules/ScheduleForm.tsx
  web/src/lib/logger/auditLogger.ts
  web/tsconfig.test.json
  web/vercel.json
Owners: @github-username-dev1, @github-username-lead, @새로운담당자, @팀장

feat: UI/UX improvement and Toast enhancement - Add lucide-react icons, Skeleton UI components, Navigation improvements, Toast improvements
  web/package.json
  web/src/app/(dashboard)/clients/page.tsx
  web/src/app/(dashboard)/dashboard/page.tsx
  web/src/app/(dashboard)/equipment/page.tsx
  web/src/app/(dashboard)/rentals/page.tsx
  web/src/app/(dashboard)/schedules/page.tsx
  web/src/components/layout/AppLayout.tsx
  web/src/components/layout/Footer.tsx
  web/src/components/layout/Header.tsx
  web/src/components/layout/Sidebar.tsx
  web/src/components/ui/LoadingState.tsx
  web/src/components/ui/Toast.example.tsx
  web/src/components/ui/Toast.tsx
Owners: @github-username-dev1, @github-username-lead, @새로운담당자, @팀장

fix: Update performance-tests workflow to handle outdated lockfile and missing artifacts
  .env
  .github/workflows/performance-tests.yml
  .npmrc
  TODO.md
  docs/mvp-scope.md
Owners: @팀장

chore: Update pnpm-lock.yaml with lucide-react dependency
  pnpm-lock.yaml
Owners: @팀장

fix: Add network retry settings to .npmrc for Vercel deployment
  .npmrc
  web/.npmrc
Owners: @팀장, @github-username-dev1, @github-username-lead

fix: Update vercel.json installCommand to handle pnpm network errors
  web/vercel.json
Owners: @github-username-dev1, @github-username-lead

fix: Improve Vercel pnpm install configuration with corepack and better retry settings
  web/.npmrc
  web/vercel.json
Owners: @github-username-dev1, @github-username-lead

fix: Ensure ClerkProvider always renders to fix useUser hook error
  web/src/app/providers.tsx
Owners: @github-username-dev1, @github-username-lead

fix: Add debugging for Clerk environment variable loading and create env check guide
  web/CHECK_ENV.md
  web/src/app/providers.tsx
Owners: @github-username-dev1, @github-username-lead

chore: Add .env.example template file with placeholders
  web/.env.example
Owners: @github-username-dev1, @github-username-lead

fix: Vercel 배포 설정 수정 - 워크스페이스 구조에 맞게 빌드 명령어 업데이트
  vercel.json
Owners: @팀장

fix: Prettier 포맷팅 오류 수정 - Vercel 빌드 실패 해결
  web/src/app/(dashboard)/dashboard/page.tsx
  web/src/app/(dashboard)/equipment/page.tsx
  web/src/components/layout/Footer.tsx
  web/src/components/ui/Toast.example.tsx
  web/src/components/ui/Toast.tsx
Owners: @github-username-dev1, @github-username-lead, @새로운담당자, @팀장

fix: Prettier 포맷팅 오류 추가 수정 - Toast 컴포넌트 파일들
  web/src/components/ui/Toast.example.tsx
  web/src/components/ui/Toast.tsx
Owners: @새로운담당자, @팀장

fix: Prettier 줄바꿈 오류 및 사용하지 않는 변수 제거
  web/src/components/ui/Toast.example.tsx
  web/src/components/ui/Toast.tsx
Owners: @새로운담당자, @팀장

fix: Toast.example.tsx Prettier 포맷팅 오류 수정
  web/src/components/ui/Toast.example.tsx
Owners: @새로운담당자, @팀장

fix: Toast.example.tsx 파일 끝 줄바꿈 수정
  web/src/components/ui/Toast.example.tsx
Owners: @새로운담당자, @팀장

fix: 예시 파일 Prettier 검사 제외 및 줄바꿈 정규화 설정
  .gitattributes
  web/.prettierignore
  web/eslint.config.mjs
Owners: @팀장, @github-username-dev1, @github-username-lead

fix: Toast.example.tsx 파일 끝 줄바꿈 수정
  web/src/components/ui/Toast.example.tsx
Owners: @새로운담당자, @팀장

fix: .eslintignore 파일 생성 - 예시 파일 빌드 검사 제외
  web/.eslintignore
Owners: @github-username-dev1, @github-username-lead
